[submodule "kadai/Raise_kadai_1"]
	path = kadai/Raise_kadai_1
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_1.git
[submodule "kadai/Raise_kadai_2"]
	path = kadai/Raise_kadai_2
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_2.git
[submodule "kadai/Raise_kadai_3"]
	path = kadai/Raise_kadai_3
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_3.git
[submodule "kadai/Raise_kadai_4"]
	path = kadai/Raise_kadai_4
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_4.git
[submodule "kadai/Raise_kadai_5"]
	path = kadai/Raise_kadai_5
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_5.git
[submodule "kadai/Raise_kadai_6"]
	path = kadai/Raise_kadai_6
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_6.git
[submodule "kadai/Raise_kadai_7"]
	path = kadai/Raise_kadai_7
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_7.git
[submodule "kadai/Raise_kadai_10"]
	path = kadai/Raise_kadai_10
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_10.git
[submodule "kadai/Raise_kadai_11"]
	path = kadai/Raise_kadai_11
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_11.git
[submodule "kadai/Raise_kadai_12"]
	path = kadai/Raise_kadai_12
	url = https://github.com/Hidetaka-Konishi/Raise_kadai_12.git
[submodule "memo/Raise_AWS_1"]
	path = memo/Raise_AWS_1
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_1.git
[submodule "memo/Raise_AWS_2"]
	path = memo/Raise_AWS_2
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_2.git
[submodule "memo/Raise_AWS_3"]
	path = memo/Raise_AWS_3
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_3.git
[submodule "memo/Raise_AWS_4"]
	path = memo/Raise_AWS_4
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_4.git
[submodule "memo/Raise_AWS_5"]
	path = memo/Raise_AWS_5
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_5.git
[submodule "memo/Raise_AWS_6"]
	path = memo/Raise_AWS_6
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_6.git
[submodule "memo/Raise_AWS_10"]
	path = memo/Raise_AWS_10
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_10.git
[submodule "memo/Raise_AWS_11"]
	path = memo/Raise_AWS_11
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_11.git
[submodule "memo/Raise_AWS_12"]
	path = memo/Raise_AWS_12
	url = https://github.com/Hidetaka-Konishi/Raise_AWS_12.git
